@import 'variable';
body{
    background:$main-color
}
.container.main-box{
    height:100vh;
}
.emph{
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}
.copy-repo{
    font-size: 14px;
}